@import "normalize.css"

azul = rgb(45,140,160)
blanco = rgb(255,255,255)
gris = rgb(120,125,130)
negro = rgb(0,0,0)

*
	font-family helvetica

h1
h2
figure
p
ul
	margin 0

body
	font-size 16px

footer
	border-top 2px solid gris
	clear both
	padding .5em 1em .5em 0
	p
		color gris
		font-size .8em
		font-style italic
		margin 0
		text-align right

form
	text-align center
	input
	select
		display block
		font-size .9em
		margin 0 auto 1em auto
		padding 3px 5px
	input
		width 250px
	label
		display block
		font-size .9em
	select
		width 266px

header
	background gris
	border-bottom 2px solid gris
	padding .5em 1em .5em 0
	h1
	p.slogan
		color blanco
		text-align right
	p.slogan
		font-size 1.4em

nav
	float left
	width 20%
	ul
		border-right 2px solid gris
		border-bottom 2px solid gris
		list-style none
		padding 0
		li
			text-align center
			a
				color gris
				display block
				padding 10px 0
				text-decoration none
				&:hover
					background gris
					color blanco

#atregistradas
	table
		td
			&.id
				width 4%
			&.actividad
				text-align justify
				width 39%
			&.ente
				width 20%
			&.supervisor
				width 12%
			&.fecini
				width 12%
			&.fecfin
				width 12%

#objregistrados
	table
		td
			&.id
				width 4%
			&.actividad
				text-align justify
				width 35%
			&.ente
				width 26%
			&.objetivo
				text-align justify
				width 35%

#procregistrados
	table
		td
			&.id
				width 16%
			&.procedimiento
				text-align justify
				width 42%
			&.objetivo
				text-align justify
				width 42%				

.contenedor
	float right
	padding 1em 0 2em 0
	text-align center
	width 79%
	h2
		font-size 1.3em
		margin 1em 0
		text-decoration underline		

.inicio
	float right
	text-align center
	width 79%
	article
		padding 1em 0
		h2
			font-size 1.5em
			margin 1em 0
		p
			font-size 1.2em
			margin 1em auto
			text-align justify
			width 50%

.tablaresumen
	table
		display block
		margin 4em auto 0 auto
		width 85%
		td
		th
			border 1px solid gris
			padding 6px 10px